@model DemoIdentity.AccessManager.ViewModels.CreateRoleViewModel

@{
    ViewData["Title"] = "Adicionar nova Role";
}

<h1>Adicionar nova Role</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-info">Adicionar nova Role</button>
            <a asp-controller="Admin" asp-action="ListRoles" class="btn btn-warning">Cancelar</a>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

