@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Lista de Role";
}

<h3>Lista de Role</h3>
<br />
@if (Model.Any())
{
    <a class="btn btn-info" asp-controller="Admin" asp-action="CreateRole">
        Criar Nova Role
    </a>
    <hr/>
    <table class="table-bordered table-hover">
        <thead class="bg-dark">
            <tr>
                <th class="text-white">ID</th>
                <th class="text-white">Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Id</td>
                    <td>@role.Name</td>
                    <td>
                        <a class="btn btn-info" asp-controller="Admin" asp-action="EditRole" asp-route-id="@role.Id">Editar</a>
                        <a class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="card">
        <div class="card-header"><strong>Não há Roles Registradas.</strong></div>
        <div class="card-body">
            <h5 class="card-title">
                Use o botão abaixo para criar uma nova Role.
            </h5>
            <a class="btn btn-info" asp-controller="Admin" asp-action="CreateRole">
                Criar Nova Role
            </a>
        </div>
    </div>
}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

