@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Benvindos!</h2>
    <p>Leia aqui <a href="https://docs.microsoft.com/aspnet/core">como construir Web Apps com ASP.NET Core</a>.</p>
</div>

<hr />

<table class="table table-striped table-hover homeclasse">
    <thead>
        <tr>
            <th>Pedido</th>
            <th>Cliente</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0932-EM/2023-03</td>
            <td>Carlos A Santos</td>
            <td>R$ 123,90</td>
        </tr>
        <tr>
            <td>0932-EM/2023-03</td>
            <td>Carlos A Santos</td>
            <td>R$ 123,90</td>
        </tr>
        <tr>
            <td>0932-EM/2023-03</td>
            <td>Carlos A Santos</td>
            <td>R$ 123,90</td>
        </tr>

    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.homeclasse').DataTable();
        });
    </script>
}
